process {
   container = 'quay.io/nextflow/bash'
   executor = 'lsf'
   queue = 'normal'
   cache = 'lenient'
   shell = ['/bin/bash', '-euo', 'pipefail']
   cpus = 1
   memory = '6 GB'
   time = '1h'
   containerOptions = '--containall --bind /tmp --bind /lustre'
   errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
   maxRetries = 2
   maxErrors = '-1'
}

timeline {
   enabled = true
   file = 'timeline-5DZAw1fK5csB8O.html'
}

workDir = '/lustre/scratch123/hgi/teams/hgi/nextflow_ci_staging/work'

executor {
   name = 'lsf'
   queueSize = 4000
   poolSize = 4
   submitRateLimit = '10 sec'
   killBatchSize = 50
   pollInterval = '10 sec'
   queueStatInterval = '20 sec'
   dumpInterval = '10 sec'
   exitReadTimeout = '10 sec'
   perJobMemLimit = true
}
profiles {
  lsf {
    includeConfig './confs/lsf.conf'
    includeConfig './confs/lsf_tasks.conf'
  }
  fce {
    includeConfig './confs/fce.conf'
    includeConfig './confs/fce_tasks.conf'
  }
}

runName = 'printenv'

tower {
   enabled = true
   endpoint = 'https://nf-tower.cellgeni.sanger.ac.uk/api'
}
